
	<div class="start block">
		<h2>Гра для справжніх мандрівників</h2>
		<h1>Відгадай куточоки України</h1>
		
		<div class="img hidden-xs">
			<div class="col-xs-3"></div>
			<div class="col-xs-6">
				<img src="img/start.png" />
			</div>
			<div class="col-xs-3"></div>
		</div>
		
		<div class="game_types">
			<div class="col-xs-6 col-sm-4" ng-click="gameType(3)">
				<div>
				<img class="magic active" src="img/magic.png" />
				<img src="img/1.png" />
				</div>
			</div>
			<div class="col-sm-4 hidden-xs"></div>
			<div class="col-xs-6 col-sm-4" ng-click="gameType(1)">
				<div>
				<img class="magic active" src="img/magic.png" />
				<img src="img/2.png" />	
				</div>
			</div>
		</div>		
		
		<footer-game></footer-game>
	</div>
	